<!--The content below is only a placeholder and can be replaced.-->
<!-- Fixed navbar -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Angular Demo</a>
</nav>
<div class="container-fluid text-center pb-5">
  <div class="row justify-content-end mr-3">
    <app-new-card-input (cardAdd)="addCard($event)"></app-new-card-input>
  </div>
  
  <div style="text-align:center">
       <app-card-list [cards]="cards" ></app-card-list>
  </div>
</div>
